<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to Menue Page</p>
 
    <a href="TestMoviePage">Movies</a>

    <a href="Subscriptions/AllMembers">Subscriptions</a>


    <% if(flag =="admin"){ %>
    <a href="UserPage/AllUser">Users Managemen</a>
    <%}%>

    <a href="/">Logout</a>
  


  </body>
</html>
